* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(white, lightgreen);
}

button {
  padding: 3px;
  margin: 10px 0;
}
